Repository infrahq/infra, pull requests merged in 2022-11, with the labels that each got.

#3537 maintain: replace set-output with GITHUB_OUTPUT
  .github/actions/setup-argocd/dist/index.js
  .github/actions/setup-argocd/dist/index.js.map
  .github/actions/setup-argocd/package-lock.json
  .github/actions/setup-infra/dist/index.js
  .github/actions/setup-infra/dist/index.js.map
  .github/actions/setup-infra/package-lock.json
  .github/workflows/cd-binaries.yaml
  .github/workflows/cd-containers.yaml
  .github/workflows/fuzz.yaml
Labels: action/fuzz

#3665 Add SSH commands and integrate with login
  api/client.go
  internal/cmd/cmd.go
  internal/cmd/cmd_test.go
  internal/cmd/login.go
  internal/cmd/ssh.go
  internal/cmd/ssh_test.go
  internal/server/server.go
  main.go
Labels: area/destinations/ssh

#3769 ci: only run -race on main and when there is a label
  .github/labels.yaml
  .github/workflows/ci-core.yaml
Labels: area/ci
