Repository infrahq/infra, changes with the owners that CODEOWNERS names for each.
All owners: @dnephin, @jmorganca, @pdevine, @mxyng, @BruceMacD, @kimskimchi, @ssoroka, @hoyyeva, @FSHA, @technovangelist, @mchiang0610

CODEOWNERS:

# Tips: File is ordered by precedence. list each path once. define deeper paths later as they override more generic paths.
#       /api/ is root api folder where api/ is any api folder. If you want to be on _every_ PR, you need to be mentioned on every line.
# see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @dnephin @jmorganca @pdevine

/helm/ @mxyng @dnephin @jmorganca @pdevine

/internal/access/ @BruceMacD @dnephin @jmorganca @pdevine
/internal/claims/ @BruceMacD @dnephin @jmorganca @pdevine
/internal/cmd/ @BruceMacD @kimskimchi @dnephin @jmorganca @pdevine
/internal/connector/ @BruceMacD @dnephin @jmorganca @pdevine
/internal/kubernetes/ @BruceMacD @mxyng @dnephin @jmorganca @pdevine
/internal/server/ @BruceMacD @dnephin @jmorganca @pdevine
/internal/server/apimigrator.go @ssoroka
/internal/server/middleware.go @ssoroka
/internal/server/migrations.go @ssoroka
/internal/server/openapi.go @ssoroka
/internal/server/routes.go @ssoroka
/internal/server/validator.go @ssoroka
/internal/server/testdata/openapi3.json @ssoroka @hoyyeva @dnephin @jmorganca @pdevine

pki/ @ssoroka @dnephin
ui/ @FSHA @hoyyeva @jmorganca
uid/ @ssoroka @dnephin

docs/ @FSHA @technovangelist @dnephin @jmorganca @pdevine @mchiang0610
/docs/reference/helm-chart.md @mxyng @FSHA @technovangelist @dnephin @jmorganca @pdevine @mchiang0610

grants.go @ssoroka
grant.go @ssoroka

feat: add handlers for organizations
  api/client.go
  api/organization.go
  internal/access/organization.go
  internal/server/data/migrations.go
  internal/server/data/organization.go
  internal/server/handlers.go
  internal/server/routes.go
Owners: @dnephin, @jmorganca, @pdevine, @BruceMacD, @ssoroka

feat: add organizations
  api/organization.go
  internal/server/data/organization.go
  internal/server/models/organization.go
  uid/polymorphic.go
Owners: @dnephin, @jmorganca, @pdevine, @BruceMacD, @ssoroka

feat: add support role
  internal/access/organization.go
  internal/server/data/organization.go
  internal/server/models/grant.go
Owners: @BruceMacD, @dnephin, @jmorganca, @pdevine, @ssoroka

fix(ui): fix issue where editing role would clear access (#2475)
  ui/pages/destinations/[[...slug]].js
Owners: @FSHA, @hoyyeva, @jmorganca

feat(ui): show which roles user has access to for a given destination (#2474)
  ui/.eslintrc.json
  ui/lib/grants.js
  ui/pages/destinations/[[...slug]].js
Owners: @FSHA, @hoyyeva, @jmorganca

Revert "improve(ui): permalinks to specific resources (#2476)"
  ui/components/layouts/dashboard.js
  ui/components/table.js
  ui/pages/destinations/index.js
  ui/pages/providers/index.js
  ui/pages/users/index.js
Owners: @FSHA, @hoyyeva, @jmorganca

improve: renaming
  api/pagination.go
  api/types.go
  docs/api/openapi3.json
  internal/server/grants_test.go
  internal/server/groups_test.go
  internal/server/handlers_test.go
  internal/server/models/pagination.go
Owners: @dnephin, @jmorganca, @pdevine, @FSHA, @technovangelist, @mchiang0610, @BruceMacD

improve: fix tests
  internal/server/grants_test.go
  internal/server/groups_test.go
  internal/server/handlers_test.go
Owners: @BruceMacD, @dnephin, @jmorganca, @pdevine
